<section>
  <h1>Fiber</h1>
  <h2>Лекція 10.2</h2>
</section>

<section>
  <h2>Посилання</h2>

  <ul>
    <li><a href="https://dou.ua/lenta/articles/react-fiber/">React 16: огляд нової архітектури fiber</a></li>
  </ul>
</section>

<section>
  <h2>Питання?</h2>
</section>
