<section>
  <h1>Роутинг</h1>
  <h2>Лекція 11.2</h2>
</section>

<section>
  <h2>TODO</h2>

  <ul>
    <li>react-router</li>
    <li>Contains 5 packages</li>
    <li>react-router-dom</li>
    <li>setup</li>
    <li>routing</li>
    <li>dynamic routing</li>
    <li>history</li>
    <li>redux setup</li>
    <li>react-router-redux</li>
    <li></li>
  </ul>
</section>

<section>
  <h2>Питання?</h2>
</section>
