<section>
  <h1>AJAX</h1>
  <h2>Лекція 8.2</h2>
</section>

<section>
  <h2>TODO</h2>

  history,
  tools/jQuery.ajax,
  tools/fetch,
  auth/JWT
</section>

<section>
  <h2>Cross-origin requests</h2>

  <section>
    <img src="images/cors.png" />
  </section>

  <section>
    <h3>Image</h3>

    <pre><code class="hljs" data-trim contenteditable>
&lt;img src="http://example.com/send-data?name=user" /&gt;
    </code></pre>
  </section>

  <section>
    <h3>JSONP</h3>
    <h4>JSON with padding</h4>

    <pre><code class="hljs" data-trim contenteditable>
&lt;script
  type="text/javascript"
  src="http://example.com/getjson?jsonp=parseResponse"
&gt;
&lt;/script&gt;
    </code></pre>
  </section>

  <section>
    <h3>CORS</h3>
    <h4>Cross-Origin Resource Sharing</h4>

    <pre><code class="hljs" data-trim contenteditable>
OPTIONS /
Host: service.example.com
Origin: http://www.example.com
    </code></pre>

    <pre><code class="hljs" data-trim contenteditable>
Access-Control-Allow-Origin: http://www.example.com
Access-Control-Allow-Methods: PUT, DELETE
    </code></pre>
  </section>

  <section>
    <h3>CORS (preflight)</h3>

    <img src="images/cors-preflight.png" />
  </section>

  <section>
    <h3>cors (express)</h3>

    <pre><code class="hljs" data-trim contenteditable>
const express = require('express');
const cors = require('cors');
const app = express();

app.use(cors({
  origin: 'http://example.com',
  // some legacy browsers (IE11, various SmartTVs) choke on 204
  optionsSuccessStatus: 200
}));

app.get('/products/:id', function(req, res) {
  // ...
});

app.listen(3000);
    </code></pre>
  </section>
</section>

<section>
  <h2>Інтеграція</h2>

  <section>
    <h3>Автентифікація та авторизація</h3>
  </section>

  <section>
    <h3>none</h3>
  </section>

  <section>
    <h3>apiKey</h3>

    <pre><code class="hljs" data-trim contenteditable>
https://weather.com?appid=1b5ee5a1a74d621b5ee5a1a74d62
    </code></pre>
  </section>

  <section>
    <h3>token</h3>

    <pre><code class="hljs" data-trim contenteditable>
Authentication: Bearer 1b5ee5a1a74d621b5ee5a1a74d62
    </code></pre>
  </section>

  <section>
    <h3>OAuth2 (Predecestors)</h3>

    <ul>
      <li>OpenID</li>
      <li>oauth</li>
    </ul>
  </section>

  <section>
    <h3>OAuth2 (Actors)</h3>

    <ul>
      <li>client (website)</li>
      <li>user (you)</li>
      <li>provider (public well-known website)</li>
    </ul>
  </section>

  <section>
    <h3>OAuth2 (Process: Registration)</h3>

    <ul>
      <li>-&gt; hosts</li>
      <li>&lt;- App ID</li>
      <li>&lt;- App Secret</li>
    </ul>
  </section>

  <section>
    <h3>OAuth2 (Process: Request)</h3>

    <ul>
      <li>scope</li>
      <li>redirect_uri</li>
      <li>state (entity id)</li>
    </ul>
  </section>

  <section>
    <h3>OAuth2 (Process: Request example)</h3>

    <img src="images/facebook.png" />
  </section>

  <section>
    <h3>OAuth2 (Process: Redirect)</h3>

    <ul>
      <li>state (entity id)</li>
      <li>code (transaction id)</li>
    </ul>
  </section>

  <section>
    <h3>OAuth2 (Process: Request Token)</h3>

    <ul>
      <li>app_id</li>
      <li>app_secret</li>
      <li>code</li>
    </ul>
  </section>

  <section>
    <h3>OAuth2 (Process: Refresh Token)</h3>
  </section>
</section>

<section>
  <h2>Питання?</h2>
</section>
