<section>
  <h1>Прототипи і Класи</h1>
  <h2>Лекція 3.2</h2>
</section>

<section>
## Prototype
new
Object.create
Box
Constructor
instanceof
__proto__
Foo.prototype.constructor === Foo
Object.getPrototypeOf( a ) === Foo.prototype; // true

## class
class
static
constructor
extends
super
</section>

<section>
  <h2>Питання?</h2>
</section>
