<section>
  <h1>Форми</h1>
  <h2>Лекція 5.1</h2>
</section>

<section>
HTML form
 attributes (method, action)
 fieldset/legend

inputs
 text
 radio
 submit
 reset
 checkbox
 password
 type="button"

other-controls
 select
 option
 optgroup
 textarea
 button

special controls
 datalist
 output

body parser
  https://github.com/expressjs/body-parser

validation
 client-side
  inputs HTML5:
   color
   date
   datetime-local
   email
   month
   number
   range
   search
   tel
   time
   url
   week
 server-side
  render-errors

flash
 express-flash

csrf
  csurf
  https://github.com/expressjs/csurf

GET/POST
 rewrite
 method-override
 https://github.com/expressjs/method-override
</section>

<section>
  <h2>Питання?</h2>
</section>
