<section>
  <h1>Інструменти React</h1>
  <h2>Лекція 12.2</h2>
</section>

<section>
  <h2>webpack</h2>

  create-react-app eject
</section>

<section>
  <h2>eslint</h2>

  https://www.npmjs.com/package/eslint-config-react-app

  .eslintrc
  {
    "extends": ["react-app", "plugin:jsx-a11y/recommended"],
    "plugins": ["jsx-a11y"]
  }

  https://www.npmjs.com/package/eslint-plugin-jsx-a11y
</section>

<section>
  <h2>jest</h2>

  npm install --save-dev enzyme enzyme-adapter-react-16

  import Adapter from 'enzyme-adapter-react-16';
  import { shallow, mount, render, configure } from 'enzyme';
  configure({ adapter: new Adapter() });

  it('renders snapshot', () => {
    const tree = shallow(<App />);
    expect(tree).toMatchSnapshot();
  });
</section>

<section>
  <h2>Питання?</h2>
</section>
