<section>
  <h1>express.js</h1>
  <h2>Лекція 4.2</h2>
</section>

<section>
  <h2>http</h2>

  <section>
    <pre><code class="hljs" data-trim contenteditable>
const http = require('http');

http.createServer(function(req, res) {
  res.write('Hello World!');
  res.end();
}).listen(8080);
    </code></pre>
  </section>
</section>

<section>
  <h2>Hello World</h2>

  <section>
    <h3>Інсталяція</h3>

    <pre><code class="hljs" data-trim contenteditable>
npm install --save express
    </code></pre>
  </section>

  <section>
    <pre><code class="hljs" data-trim contenteditable>
const express = require('express');
const app = express(); // Створення аплікації

// Обробка будь-якого запиту '*'
app.get('*', function (req, res) {
  // Відповідь 'Hello World'
  res.send('Hello World!');
});

// Очікування з'єднань на 3000 порт
app.listen(3000, function() {
  // Callback після запуску програми
  console.log('App started on http://localhost:3000');
});
    </code></pre>
  </section>
</section>

<section>
  <h2>Шляхи (Routes)</h2>

  <section>
    <h3>Корінь</h3>

    <pre><code class="hljs" data-trim contenteditable>
app.get('/', function (req, res) {
  // ...
});
    </code></pre>
  </section>

  <section>
    <h3>Складені</h3>

    <pre><code class="hljs" data-trim contenteditable>
app.get('/tasks/search', function (req, res) {
  // ...
});
    </code></pre>
  </section>

  <section>
    <h3>Методи</h3>

    <pre><code class="hljs" data-trim contenteditable>
app.get('/tasks', function (req, res) {
  // ...
});

app.post('/tasks', function (req, res) {
  // ...
});
    </code></pre>
  </section>
</section>

<section>
  <h2>Шаблонізатори (ejs)</h2>

  <section>
    <h3>Підключення</h3>

    <pre><code class="hljs" data-trim contenteditable>
npm install --save ejs
    </code></pre>

    <pre><code class="hljs" data-trim contenteditable>
app.set('view engine', 'ejs');
    </code></pre>
  </section>

  <section>
    <h3>Використання</h3>

    <pre><code class="hljs" data-trim contenteditable>
app.get('/', function(req, res) {
    res.render('pages/index', { user: 'Vasya' });
});
    </code></pre>

    <i>pages/index.ejs</i>
    <pre><code class="hljs" data-trim contenteditable>
&lt;h1&gt;Hello &lt;%= user %&gt;&lt;/h1&gt;
    </code></pre>
  </section>

  <section>
    <h3>Частини (Partials)</h3>

    <pre><code class="hljs" data-trim contenteditable>
&lt;% include ../partials/head %&gt;
&lt;h1&gt;Hello &lt;%= user %&gt;&lt;/h1&gt;
&lt;% include ../partials/foor %&gt;
    </code></pre>

    <i>partials/head.ejs</i>
    <pre><code class="hljs" data-trim contenteditable>
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;Hello app&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    </code></pre>
  </section>
</section>

<section>
  <h2>Параметри</h2>

  <section>
    <h3>params</h3>

    <pre><code class="hljs" data-trim contenteditable>
app.get('/tasks/:id', function (req, res) {
  // req.params.id === '1'
});
    </code></pre>

    <pre><code class="hljs" data-trim contenteditable>
http://localhost:3000/tasks/1
// або
GET /tasks/1
    </code></pre>
  </section>

  <section>
    <h3>query</h3>

    <pre><code class="hljs" data-trim contenteditable>
app.get('/tasks', function (req, res) {
  // req.query.q === 'kittens'
  // req.query.order === 'desc'
});
    </code></pre>

    <pre><code class="hljs" data-trim contenteditable>
GET /tasks?q=kittens&amp;order=desc
    </code></pre>
  </section>
</section>

<section>
  <h2>Ресурси</h2>

  <section>
    <h3>Методи</h3>

    <p><b>CRUD</b> - Create Read Update Delete</p>
    <table>
      <thead>
        <tr>
          <td>Метод</td><td>Обробник</td>
        </tr>
      </thead>
      <tbody>
        <tr><td>GET</td><td>app.get</td></tr>
        <tr><td>POST</td><td>app.post</td></tr>
        <tr><td>PUT</td><td>app.put</td></tr>
        <tr><td>DELETE</td><td>app.del</td></tr>
      </tbody>
    </table>
  </section>

  <section>
    <table>
      <thead>
        <tr>
          <td>Дія</td><td>Метод</td><td>Шлях</td><td>Функція</td><td>Шаблон</td>
        </tr>
      </thead>
      <tbody>
        <tr><td>Список</td><td>GET</td><td>/tasks</td><td>index</td><td>index.ejs</td></tr>
        <tr><td>Форма створення</td><td>GET</td><td>/tasks/new</td><td>new</td><td>new.ejs</td></tr>
        <tr><td>Створення</td><td>POST</td><td>/tasks</td><td>create</td><td>-</td></tr>
        <tr><td>Перегляд</td><td>GET</td><td>/tasks/:id</td><td>show</td><td>show.ejs</td></tr>
        <tr><td>Форма редагування</td><td>GET</td><td>/tasks/:id/edit</td><td>edit</td><td>edit.ejs</td></tr>
        <tr><td>Збереження</td><td>PUT</td><td>/tasks/:id</td><td>update</td><td>-</td></tr>
        <tr><td>Видалення</td><td>DELETE</td><td>/tasks/:id</td><td>destroy</td><td>-</td></tr>
      </tbody>
    </table>
  </section>
</section>

<section>
  <h2>body-parser</h2>

  <section>
    <h3>Інсталяція</h3>

    <pre><code class="hljs" data-trim contenteditable>
npm install --save body-parser
    </code></pre>
  </section>

  <section>
    <h3>Використання</h3>

    <pre><code class="hljs" data-trim contenteditable>
const bodyParser = require('body-parser');

// Для форм (application/x-www-form-urlencoded)
app.use(bodyParser.urlencoded({ extended: false }));
    </code></pre>
  </section>

  <section>
    <h3>Форма</h3>

    <pre><code class="hljs" data-trim contenteditable>
&lt;form action="/tasks" method="post"&gt;
  &lt;input name="title" type="text" /&gt;
  &lt;input type="submit" /&gt;
&lt;/form&gt;
    </code></pre>

    <pre><code class="hljs" data-trim contenteditable>
app.post('/tasks', function (req, res) {
  // req.body.title
});
    </code></pre>
  </section>
</section>

<section>
  <h2>Статичні файли</h2>

  <section>
    <h3>Підключення директорії</h3>

    <pre><code class="hljs" data-trim contenteditable>
app.use(express.static('public'));
    </code></pre>

    <pre><code class="hljs" data-trim contenteditable>
http://localhost:3000/images/kitten.jpg
http://localhost:3000/css/style.css
http://localhost:3000/js/app.js
http://localhost:3000/images/bg.png
http://localhost:3000/index.html
    </code></pre>
  </section>

  <section>
    <h3>Абсолютний шлях</h3>

    <p>Більш надійний варіант. Програму можна запускати з будь якої директорії.</p>
    <pre><code class="hljs" data-trim contenteditable>
app.use(express.static(__dirname + '/public'));
    </code></pre>
  </section>

  <section>
    <h3>Точка монтування</h3>

    <pre><code class="hljs" data-trim contenteditable>
app.use('/assets', express.static('public'));
    </code></pre>

    <pre><code class="hljs" data-trim contenteditable>
http://localhost:3000/assets/images/kitten.jpg
http://localhost:3000/assets/css/style.css
http://localhost:3000/assets/js/app.js
http://localhost:3000/assets/images/bg.png
    </code></pre>
  </section>
</section>

<section>
  <h2>Middleware</h2>

  <section>
    <h3>Будь-який шлях</h3>

    <pre><code class="hljs" data-trim contenteditable>
const express = require('express');
const app = express();

app.get('/admin*', function(req, res, next) {
  const dateString = new Date().toString();
  console.log(`REQUEST ${dateString}`);
  next();
});

app.get('*', function(req, res, next) {
  res.send('Hello World!');
});

app.listen(3000);
    </code></pre>
  </section>

  <section>
    <h3>next можна не викликати</h3>

    <pre><code class="hljs" data-trim contenteditable>
const express = require('express');
const app = express();

app.get('/admin*', function(req, res, next) {
  if (req.query.password === 'qwerty') {
    next();
  } else {
    res.status(500);
    res.send('You are not an admin');
  }
});

app.get('*', function(req, res, next) {
  res.send('Hello World!');
});

app.listen(3000);
    </code></pre>
  </section>

  <section>
    <h3>Спеціальний синтаксис</h3>

    <pre><code class="hljs" data-trim contenteditable>
const express = require('express');
const app = express();

const myLogger = function(req, res, next) {
  const dateString = new Date().toString();
  console.log(`REQUEST ${dateString}`);
  next();
};

app.use(myLogger);

app.get('/', function (req, res) {
  res.send('Hello World!');
});

app.listen(3000);
    </code></pre>
  </section>

  <section>
    <h3>Аплікація це також middleware</h3>

    <pre><code class="hljs" data-trim contenteditable>
const express = require('express');

const app = express(); // the main app
const admin = express(); // the sub app

// /admin
admin.get('/', function(req, res) {
  res.send('Admin Homepage');
});

app.use('/admin', admin); // mount the sub app

app.listen(3000);
    </code></pre>
  </section>
</section>

<section>
  <h2>Питання?</h2>
</section>
