<section>
  <h1>Роутинг</h1>
  <h2>Лекція 12.1</h2>
</section>

<section>
  <h2>react-router</h2>

  <section>
    <a href="https://github.com/ReactTraining/react-router">https://github.com/<b>ReactTraining/react-router</b></a>
  </section>

  <section>
    <h3>Склад</h3>

    <ul>
      <li><b>react-router</b> - Основа;</li>
      <li><b>react-router-dom</b> - Роутинг для браузера;</li>
      <li><b>react-router-native</b> - Роутинг для мобільних (React Native);</li>
      <li><b>react-router-redux</b> - Прив'язка до Redux;</li>
      <li><b>react-router-config</b> - Статичний роутинг.</li>
    </ul>
  </section>

  <section>
    <h3>Динамічний</h3>

    TODO
  </section>

  <section>
    <h3>Абстракний</h3>

    <ul>
      <li><b>Router</b> - Роутер;</li>
      <li><b>Route</b> - Шлях;</li>
      <li><b>Switch</b> - Перемикач.</li>
    </ul>
  </section>
</section>

<section>
  <h2>react-router-dom</h2>

  <section>
    History
  </section>

  <section>
    Basic
    URL Parameters
    Redirects (Auth)
    Custom Link
    Preventing Transitions
    No Match (404)
    Recursive Paths
    Sidebar
    Animated Transitions
    Ambiguous Matches
    Route Config
    Modal Gallery
    StaticRouter Context
  </section>
</section>

<section>
  <h2>react-router-redux</h2>

  <section>
    Setup
    Features
  </section>
</section>

<section>
  <h2>Питання?</h2>
</section>
