<section>
  <h1>jQuery</h1>
  <h2>Лекція 8.2</h2>
</section>

<section>
  <h2>TODO</h2>

  <pre><code class="hljs" data-trim contenteditable>
  browser/DOM Manipulation
    innerText
    innerHTML
    fragments
  jQuery/query
  jQuery/DOM Manipulation
  jQuery/animation
  pseudoselector
  </code></pre>
</section>

<section>
  <h2>Питання?</h2>
</section>
